body {
    background-color: #96A8C8;
    font-family: 'Nunito', sans-serif;
}

input {
    display: block;
    margin: 1em auto;
    padding: 1em;
    width: 80%;
    text-align: center;
    border-radius: 1em;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

button {
    margin: 1em auto;
    padding: 0.5em 2em;
    background-color: #96A8C8;
    color: white;
    border: 1px solid #96A8C8;
    border-radius: 1em;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

button:hover {
    background-color: white;
    color: #96A8C8;
    border: 1px solid #96A8C8;
}

#popup-msg-box {
    position: fixed;
    top: 1%;
    left: 50%;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 0.5em 1em;
    background-color: green;
    color: white;
    border-radius: 1em;
    text-align: center;
    transform: translate(-50%);
    z-index: 1;
}

#popup-msg-box img {
    width: 8%;
    cursor: pointer;
}

#comic-img {
    width: 100%;
}

#otp {
    display: none;
}

.container {
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 1em;
    text-align: center;
}

.only-on-large-screens {
    display: none;
}

.only-on-small-screens {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 875px) {
    #popup-msg-box {
        width: 20%;
    }

    #popup-msg-box img {
        width: 6%;
    }

    #comic-img {
        width: 80%;
    }

    .navigation-img {
        width: 5%;
        cursor: pointer;
    }

    .only-on-large-screens {
        display: block;
    }

    .only-on-small-screens {
        display: none;
    }

    .container {
        margin: 0.5em;
        padding: 1em 3em;
    }

    .a {
        grid-area: header;
    }

    .b{
        grid-area: mail;
    }

    .c{
        grid-area: main;
    }

    .grid {
        display: grid;
        grid-template-areas:
              "header header header header header header"
              "mail main main main main main";
    }
}