body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    background-color: #96A8C8;
    font-family: 'Nunito', sans-serif;
}

input[type=submit] {
    margin: 1em auto;
    padding: 0.5em 2em;
    background-color: white;
    color: #96A8C8;
    border: 1px solid #96A8C8;
    border-radius: 1em;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

input[type=submit]:hover {
    background-color: #96A8C8;
    color: white;
    border: 1px solid white;
}

#popup-msg-box {
    position: fixed;
    top: 1%;
    left: 50%;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 0.5em 1em;
    background-color: green;
    color: white;
    border-radius: 1em;
    text-align: center;
    transform: translate(-50%);
    z-index: 2;
}

#popup-msg-box img {
    width: 8%;
    cursor: pointer;
}

.upr-cntanr {
    height: 20%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    z-index: 1;
}

.lwr-cntanr {
    height: 100%;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 875px) {
    #popup-msg-box {
        width: 20%;
    }

    #popup-msg-box img {
        width: 6%;
    }
}